Language: Cpp
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
ColumnLimit: 80

AlignAfterOpenBracket: true
AlignConsecutiveAssignments: false
AlignTrailingComments: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ContinuationIndentWidth: 4
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
PenaltyReturnTypeOnItsOwnLine: 0
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
