root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
max_line_length = 80
trim_trailing_whitespace = true
insert_final_newline = true

[{Makefile,mk/*.mk}]
indent_style = tab
indent_size = 8

[.git/COMMIT_EDITMSG]
max_line_length = 72
