stages: [test, dist]

before_script:
    - export MAKEFLAGS="-j$(mk/nproc.sh)" V=1 VERBOSE=1

test:debian:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/lua-testing
    script:
        - make vars
        - export LUA_VERSIONS='5.3 5.2 5.1'
        - make build-all
        - make check-all check-luajit

        - make clean-obj
        - luarocks --lua-version=5.3 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.3 -e 'require "gumbo"'
        - make clean-obj
        - luarocks --lua-version=5.2 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.2 -e 'require "gumbo"'
        - make clean-obj
        - luarocks --lua-version=5.1 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.1 -e 'require "gumbo"'

        - make clean-obj
        - make benchmark CFLAGS='-O3 -DNDEBUG'

test:alpine:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-alpine
    script: &SCRIPT
        - make vars
        - export LUA_VERSIONS='5.3 5.2 5.1'
        - make build-all
        - make check-all
        - make benchmark CFLAGS='-O3 -DNDEBUG'

.pages:
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-debian-10
    coverage: '/^ *lines\.*: *(\d+\.\d+\%) .*$/'
    artifacts:
        paths: [public]
        expire_in: 60 days
    script:
        - git fetch --tags
        - make docs doxygen dist
        - make check-dist
        - make coverage-report

pages:
    extends: .pages
    stage: dist
    only: [master]

pages:non-master:
    extends: .pages
    stage: test
    except: [master]
