local.mk
*.so
*.o
gumbo-parser-*/
lua-gumbo-*.tar.gz
gumbo-*.rockspec
gumbo-*.rock
coverage.txt
.luacov-stats.txt
tags
README.html
README.pdf
doc/style.css.inc
doc/api.html
test/data/*MiB.html
lua-*/
LuaJIT-*/
