[attr]code text whitespace=tab-in-indent,trailing-space,tabwidth=4
[attr]makefile text whitespace=trailing-space

.distinfo export-subst

.git* export-ignore
.editorconfig export-ignore
.travis.yml export-ignore
test/gitlab-ci.yml export-ignore
CONTRIBUTING.md export-ignore
mk/dev.mk export-ignore
mk/git-hooks/ export-ignore

lib/char_ref.c linguist-generated
lib/tag_lookup.c linguist-generated

*.[ch] code
*.lua code
*.md code
*.yml code
rockspec.in code
Makefile makefile
mk/*.mk makefile
mk/git-hooks/* code
