[attr]notab whitespace=tab-in-indent

.git* export-ignore
.travis.* export-ignore
test/git-hooks/ export-ignore
CONTRIBUTING.md export-ignore

*.[ch] notab
*.lua notab
*.md notab
*.yml notab
rockspec.in notab
