stages: [test, dist]

before_script:
    - export MAKEFLAGS="-j$(mk/nproc.sh) -Otarget" V=1 VERBOSE=1

test:debian:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/lua-testing
    script:
        - make vars
        - make build-all
        - make check-all check-luajit

        - make clean-obj
        - luarocks --lua-version=5.3 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.3 -e 'require "gumbo"'
        - make clean-obj
        - luarocks --lua-version=5.2 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.2 -e 'require "gumbo"'
        - make clean-obj
        - luarocks --lua-version=5.1 --tree=/usr make gumbo-scm-1.rockspec
        - lua5.1 -e 'require "gumbo"'

        - make clean-obj
        - make benchmark CFLAGS='-O3 -DNDEBUG'

test:alpine:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-alpine
    script: &SCRIPT
        - make vars
        - make build-all
        - make check-all
        - make benchmark CFLAGS='-O3 -DNDEBUG'

test:void-musl:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-void-musl
    script: *SCRIPT

pages:
    stage: dist
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-debian
    artifacts: {paths: [public]}
    only: [master]
    coverage: '/^ *lines\.*: *(\d+\.\d+\%) .*$/'
    script: &PAGES_SCRIPT
        - git fetch --tags
        - make docs doxygen dist
        - make check-dist
        - luarocks install lmd5
        - make coverage-report

pages:non-master:
    stage: test
    image: registry.gitlab.com/craigbarnes/dockerfiles/cdev-debian
    artifacts: {paths: [public], expire_in: 1 week}
    except: [master]
    coverage: '/^ *lines\.*: *(\d+\.\d+\%) .*$/'
    script: *PAGES_SCRIPT
